name: NuGet Push Public

on: [workflow_dispatch]

jobs:
  build-test-prep-push:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-dotnet@v3
        with:
          dotnet-version: |
            7.0.x
        env:
          DOTNET_INSTALL_DIR: /usr/share/dotnet
      - name: Install Android
        run: dotnet workload install maui-android
      - name: Install Ios
        run: dotnet workload install maui-ios  
      - name: Install maccatalyst
        run: dotnet workload install maui-maccatalyst  
      - name: Restore dependencies
        run: dotnet restore ./src/CSharp/Maui/EasyMicroservices.UI.MauiKits.sln
      - name: Build
        run: dotnet build ./src/CSharp/Maui/EasyMicroservices.UI.MauiKits.sln --no-restore
      - name: Test
        run: dotnet test ./src/CSharp/Maui/EasyMicroservices.UI.MauiKits.sln --no-build --verbosity normal
      - name: Create the package
        run: dotnet pack ./src/CSharp/Maui/EasyMicroservices.UI.MauiKits.sln --output nupkgs
      - name: Publish the package to NuGet.org
        run: dotnet nuget push nupkgs\*.nupkg -k ${{secrets.NUGET_KEY}} -s https://api.nuget.org/v3/index.json --skip-duplicate